<div
    id="expense-row"
    class="group relative flex h-[var(--row-closed)] items-start overflow-hidden
        bg-white ring-2 ring-neutral-200
        [transition:height_0.35s_ease-in,box-shadow_0.35s_ease,background-color_0.35s_ease]
        lg:h-[var(--row-expense-open-lg)]"
>
    <!-- Row sidebar: date, toggle -->
    <div
        data-pdc="expense-row-sidebar"
        class="relative z-10 mr-4 ml-2 h-[var(--row-expense-closed)] sm:mr-6
            sm:ml-4 lg:mx-6 lg:h-[var(--row-expense-open-lg)]"
    >
        <div
            data-pdc="expense-row-toggle"
            class="flex h-24 w-full items-center text-neutral-800
                hover:cursor-pointer *:hover:cursor-pointer lg:block
                lg:hover:cursor-auto lg:*:hover:cursor-auto
                group-[.pdc-row-close]:hover:[&_button_svg]:!-rotate-180
                group-[.pdc-row-open]:hover:[&_button_svg]:!-rotate-0"
        >
            <button
                title="Toggle row"
                tabindex="0"
                type="button"
                class="focus-visible:border-primary-800 rounded-full border-3
                    border-transparent transition-colors focus:outline-none
                    lg:hidden"
            >
                <svg
                    class="size-5 shrink-0 fill-none stroke-current
                        transition-transform duration-500
                        group-[.pdc-row-close]:rotate-0
                        group-[.pdc-row-open]:-rotate-180 sm:size-6"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                    />
                </svg>
            </button>

            <!-- Date -->
            <div
                class="ml-2 flex flex-col text-center text-xs font-semibold
                    uppercase sm:text-sm lg:m-3 lg:mt-5 lg:text-base"
            >
                <span id="month"></span>
                <span id="day" class="text-xl lg:text-2xl"></span>
                <span id="year"></span>
            </div>
        </div>
    </div>

    <!-- Row contents: summary, details -->
    <div
        class="relative z-10 flex h-[var(--row-expense-closed)] w-full
            items-start overflow-hidden transition-[height]
            group-[.pdc-row-open]:h-[var(--row-expense-open)]
            lg:!h-[var(--row-expense-open-lg)]"
    >
        <!-- Summary -->
        <div
            data-pdc="expense-row-toggle"
            class="ml-1 flex h-22 w-full items-center justify-between lg:hidden"
        >
            <div
                data-pdc="expense-row-summary"
                inert
                class="ml-[30%] flex w-full max-w-[50lvh]
                    [transform:translateY(0%)] flex-col justify-between
                    gap-y-0.5 overflow-hidden pr-4 text-sm opacity-100
                    [transition:transform_0.35s_ease-in,opacity_0.35s_ease-in]
                    sm:ml-[10%] sm:flex sm:max-w-full sm:flex-row
                    sm:justify-between sm:pr-12 sm:text-base
                    lg:[transform:translateY(-200%)] lg:opacity-0"
            >
                <div
                    class="grid grid-cols-2 sm:flex sm:flex-col"
                    id="summary-mie"
                >
                    <p>M&IE</p>
                    <p class="text-right sm:text-left" id="summary-mie-amount">
                        &nbsp;
                    </p>
                </div>
                <div
                    class="grid grid-cols-2 sm:flex sm:flex-col"
                    id="summary-lodging"
                >
                    <p>Lodging</p>
                    <p
                        class="text-right sm:text-left"
                        id="summary-lodging-amount"
                    >
                        &nbsp;
                    </p>
                </div>
                <div
                    class="grid grid-cols-2 sm:flex sm:flex-col"
                    id="summary-total"
                >
                    <p>Total</p>
                    <p class="text-right sm:text-left" data-pdc="expense-total">
                        &nbsp;
                    </p>
                </div>
            </div>
        </div>

        <!-- Details -->
        <div
            data-pdc="expense-row-details"
            class="absolute top-0 left-[-100%] h-[var(--row-expense-open)]
                w-full [transform:translateX(0%)] overflow-hidden border-l-2
                border-l-neutral-200 opacity-0
                [transition:height_0.35s_ease,transform_0.35s_ease-in,opacity_0.35s_ease]
                lg:grid lg:h-[var(--row-expense-open-lg)]
                lg:[transform:translateX(100%)] lg:grid-cols-5 lg:opacity-100"
        >
            <div class="lg:col-span-3">
                <!-- Location -->
                <div
                    class="flex flex-col justify-between border-b
                        border-b-neutral-100 px-3 py-3 lg:border-b-transparent"
                >
                    <label
                        class="hidden text-sm font-semibold tracking-wider
                            text-neutral-600 uppercase transition-colors
                            lg:block lg:text-neutral-700"
                        >Location</label
                    >

                    <p
                        id="location"
                        class="relative my-1 truncate text-neutral-800"
                    ></p>
                </div>

                <!-- Deductions -->
                <div
                    id="deductions"
                    class="flex flex-col justify-between border-b
                        border-b-neutral-100 px-3 py-3 lg:border-b-transparent
                        [.disabled]:cursor-not-allowed [.disabled]:*:opacity-30"
                >
                    <label
                        class="text-sm font-medium tracking-wider
                            text-neutral-600 transition-colors
                            lg:text-neutral-700"
                        >I was provided</label
                    >
                    <fieldset class="my-3 space-y-3">
                        <div
                            class="*:has-checked:bg-primary-50
                                *:hover:bg-primary-50
                                *:has-checked:text-primary-800
                                *:hover:text-primary-800
                                *:focus-visible:!bg-primary-50
                                *:focus-visible:!text-primary-800
                                *:focus-visible:ring-primary-800 grid
                                max-w-[400px] grid-cols-3 divide-x
                                overflow-hidden rounded-lg border bg-transparent
                                text-center text-neutral-700 *:cursor-pointer
                                *:px-4 *:py-2.5 *:text-sm *:font-medium *:ring-2
                                *:ring-transparent
                                *:transition-[box-shadow_background-color_color]
                                *:duration-500 *:select-none *:ring-inset
                                *:focus:outline-none *:focus-visible:ring-6"
                        >
                            <label tabindex="-1" ="breakfast"
                                >Break<span class="sm:hidden" aria-hidden="true"
                                    >.</span
                                ><span class="hidden sm:inline-block">fast</span
                                ><input
                                    type="checkbox"
                                    name="breakfast"
                                    id="breakfast"
                                    class="hidden"
                            /></label>
                            <label tabindex="-1" for="lunch" class="peer"
                                >Lunch<input
                                    type="checkbox"
                                    name="lunch"
                                    id="lunch"
                                    class="hidden"
                            /></label>
                            <label tabindex="-1" for="dinner" class="peer"
                                >Dinner<input
                                    type="checkbox"
                                    name="dinner"
                                    id="dinner"
                                    class="hidden"
                            /></label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <!-- Amounts -->
            <div class="lg:col-span-2">
                <!-- MIE -->
                <div
                    id="mie"
                    class="flex items-center justify-between border-b
                        border-b-neutral-100 px-3 py-3 lg:grid lg:grid-cols-2
                        lg:justify-start [.disabled]:cursor-not-allowed
                        [.disabled]:**:opacity-30"
                >
                    <label
                        id="mie-rate"
                        class="text-sm font-semibold tracking-wider
                            text-neutral-600 transition-colors
                            lg:text-neutral-700"
                    ></label>
                    <input
                        id="mie-total-amount"
                        type="number"
                        inputmode="decimal"
                        step="0.01"
                        min="0"
                        disabled
                        class="[.success]:border-r-success-400 relative my-3
                            max-w-[50%] [appearance:textfield] border-r-3
                            border-r-transparent bg-transparent py-2 pr-3
                            text-right text-neutral-800
                            transition-[border-color]
                            disabled:cursor-not-allowed lg:my-0 lg:max-w-full
                            [&::-webkit-inner-spin-button]:appearance-none
                            [&::-webkit-outer-spin-button]:appearance-none"
                    />

                    <!-- M&IE -->
                </div>

                <!-- Lodging -->
                <div
                    id="lodging"
                    class="flex items-center justify-between border-b
                        border-b-neutral-100 px-3 py-3 lg:grid lg:grid-cols-2
                        lg:justify-start [.disabled]:cursor-not-allowed
                        [.disabled]:**:opacity-30"
                >
                    <label
                        id="lodging-rate"
                        class="text-sm font-semibold tracking-wider
                            text-neutral-600 transition-colors
                            lg:text-neutral-700"
                    ></label>

                    <input
                        tabindex="-1"
                        id="lodging-amount"
                        type="number"
                        inputmode="decimal"
                        step="0.01"
                        min="0"
                        class="selection:bg-primary-800 relative my-3
                            max-w-[50%] [appearance:textfield] overflow-hidden
                            rounded-lg border border-neutral-100 bg-neutral-50
                            py-2 pr-3 text-right text-neutral-800
                            selection:text-neutral-50 focus:outline-none
                            disabled:cursor-not-allowed lg:my-0 lg:max-w-full
                            [&::-webkit-inner-spin-button]:appearance-none
                            [&::-webkit-outer-spin-button]:appearance-none"
                    />
                </div>

                <!-- Total -->
                <div
                    id="total"
                    class="flex items-center justify-between border-b
                        border-b-neutral-100 px-3 py-0 lg:grid lg:grid-cols-2
                        lg:justify-start lg:border-b-transparent lg:py-3
                        [.disabled]:cursor-not-allowed
                        [.disabled]:**:opacity-30"
                >
                    <label
                        id="mie-rate"
                        class="text-sm font-semibold tracking-wider
                            text-neutral-600 transition-colors
                            lg:text-neutral-700"
                        >Total</label
                    >

                    <input
                        data-pdc="expense-total"
                        type="number"
                        inputmode="decimal"
                        step="0.01"
                        min="0"
                        disabled
                        class="[.success]:border-r-success-400 relative my-3
                            max-w-[50%] [appearance:textfield] border-r-3
                            border-r-transparent bg-transparent py-2 pr-3
                            text-right text-neutral-800
                            transition-[border-color]
                            disabled:cursor-not-allowed lg:my-0 lg:max-w-full
                            [&::-webkit-inner-spin-button]:appearance-none
                            [&::-webkit-outer-spin-button]:appearance-none"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
