<div
    id="expense-row"
    class="group [.pdc-row-open]:animate-row-expense-open
        [.pdc-row-close]:animate-row-expense-close relative flex h-24
        items-start overflow-hidden bg-white ring-2 ring-neutral-200
        transition-shadow duration-500"
>
    <!-- Row sidebar: date, toggle -->
    <div
        data-pdc="expense-row-sidebar"
        class="relative z-10 mr-4 ml-2 h-[var(--row-expense-open)] sm:mr-6
            sm:ml-4"
    >
        <div
            data-pdc="expense-row-toggle"
            class="flex h-24 w-full items-center text-neutral-800
                hover:cursor-pointer *:hover:cursor-pointer
                group-not-[.pdc-row-close]:hover:[&_button_svg]:!-rotate-0
                group-[.pdc-row-close]:hover:[&_button_svg]:!-rotate-180"
        >
            <button
                title="Toggle row"
                tabindex="0"
                type="button"
                class="focus-visible:border-primary-800 rounded-full border-3
                    border-transparent transition-colors focus:outline-none"
            >
                <svg
                    class="size-5 shrink-0 fill-none stroke-current
                        transition-transform duration-500
                        group-[.pdc-row-close]:rotate-0
                        group-[.pdc-row-open]:-rotate-180 sm:size-6"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                    />
                </svg>
            </button>
            <div
                class="ml-2 flex flex-col text-center text-xs font-semibold
                    uppercase sm:text-sm"
            >
                <span id="month"></span>
                <span id="day" class="text-xl"></span>
                <span id="year"></span>
            </div>
        </div>
    </div>

    <!-- Row contents: summary, details -->
    <div
        class="relative z-10 flex h-[var(--row-expense-open)] w-full items-start
            overflow-hidden"
    >
        <!-- Summary -->
        <div
            data-pdc="expense-row-toggle"
            class="ml-1 flex h-22 w-full items-center justify-between"
        >
            <div
                data-pdc="expense-row-summary"
                inert
                class="group-[.pdc-row-open]:animate-row-open-summary
                    group-[.pdc-row-close]:animate-row-close-summary m ml-[30%]
                    flex w-full max-w-[50lvh] flex-col justify-between gap-y-0.5
                    overflow-hidden pr-4 text-sm
                    group-[.pdc-row-add]:translate-y-[-200%]
                    group-[.pdc-row-add]:opacity-0 sm:ml-[10%] sm:flex
                    sm:max-w-full sm:flex-row sm:justify-between sm:pr-12
                    sm:text-base"
            >
                <div
                    class="grid grid-cols-2 sm:flex sm:flex-col"
                    id="summary-mie"
                >
                    <p>M&IE</p>
                    <p class="text-right sm:text-left" id="summary-mie-amount">
                        &nbsp;
                    </p>
                </div>
                <div
                    class="grid grid-cols-2 sm:flex sm:flex-col"
                    id="summary-lodging"
                >
                    <p>Lodging</p>
                    <p
                        class="text-right sm:text-left"
                        id="summary-lodging-amount"
                    >
                        &nbsp;
                    </p>
                </div>
                <div
                    class="grid grid-cols-2 sm:flex sm:flex-col"
                    id="summary-total"
                >
                    <p>Total</p>
                    <p class="text-right sm:text-left" data-pdc="expense-total">
                        &nbsp;
                    </p>
                </div>
            </div>
        </div>

        <!-- Details -->
        <div
            data-pdc="expense-row-details"
            class="group-[.pdc-row-open]:animate-row-open-details
                group-[.pdc-row-add]:animate-row-open-details
                group-[.pdc-row-close]:animate-row-close-details absolute top-0
                left-[-100%] w-full overflow-hidden border-l-2
                border-l-neutral-200 transition-colors"
        >
            <!-- Location -->
            <div
                class="flex items-center justify-between border-b
                    border-b-neutral-100 px-3 py-2"
            >
                <p
                    id="location"
                    class="relative my-3 truncate text-neutral-800"
                ></p>
            </div>

            <!-- Deductions -->
            <div
                id="deductions"
                class="items-center justify-between border-b
                    border-b-neutral-100 px-3 py-4
                    [.disabled]:cursor-not-allowed [.disabled]:**:opacity-30"
            >
                <pdc-label styled="true" text="I was provided"></pdc-label>
                <fieldset class="my-3 space-y-3">
                    <div
                        class="*:has-checked:bg-primary-50 *:hover:bg-primary-50
                            *:has-checked:text-primary-800
                            *:hover:text-primary-800
                            *:focus-visible:!bg-primary-50
                            *:focus-visible:!text-primary-800
                            *:focus-visible:ring-primary-800 grid grid-cols-3
                            divide-x overflow-hidden rounded-lg border
                            bg-transparent text-center text-neutral-700
                            *:cursor-pointer *:px-4 *:py-2.5 *:text-sm
                            *:font-medium *:ring-2 *:ring-transparent
                            *:transition-[box-shadow_background-color_color]
                            *:duration-500 *:select-none *:ring-inset
                            *:focus:outline-none *:focus-visible:ring-6"
                    >
                        <label tabindex="-1" ="breakfast"
                            >Break<span class="sm:hidden" aria-hidden="true"
                                >.</span
                            ><span class="hidden sm:inline-block">fast</span
                            ><input
                                type="checkbox"
                                name="breakfast"
                                id="breakfast"
                                class="hidden"
                        /></label>
                        <label tabindex="-1" for="lunch" class="peer"
                            >Lunch<input
                                type="checkbox"
                                name="lunch"
                                id="lunch"
                                class="hidden"
                        /></label>
                        <label tabindex="-1" for="dinner" class="peer"
                            >Dinner<input
                                type="checkbox"
                                name="dinner"
                                id="dinner"
                                class="hidden"
                        /></label>
                    </div>
                </fieldset>
                <!-- M&IE -->
                <div id="mie" class="flex items-center justify-between">
                    <pdc-label styled="true" id="mie-rate"></pdc-label>

                    <input
                        id="mie-total-amount"
                        type="number"
                        inputmode="decimal"
                        step="0.01"
                        min="0"
                        disabled
                        class="[.success]:border-r-success-400 relative my-3
                            w-[50%] [appearance:textfield] border-r-3
                            border-r-transparent bg-transparent py-2 pr-3
                            text-right text-neutral-800
                            transition-[border-color]
                            disabled:cursor-not-allowed
                            [&::-webkit-inner-spin-button]:appearance-none
                            [&::-webkit-outer-spin-button]:appearance-none"
                    />
                </div>
            </div>

            <!-- Lodging -->
            <div
                id="lodging"
                class="flex items-center justify-between border-b
                    border-b-neutral-100 bg-white px-3 py-2
                    [.disabled]:cursor-not-allowed [.disabled]:**:opacity-30"
            >
                <pdc-label styled="true" id="lodging-rate"></pdc-label>

                <input
                    tabindex="-1"
                    id="lodging-amount"
                    type="number"
                    inputmode="decimal"
                    step="0.01"
                    min="0"
                    class="[.success]:border-r-success-400
                        selection:bg-primary-800 relative my-3 w-[50%]
                        [appearance:textfield] border-r-3 border-b-2
                        border-r-transparent border-b-neutral-200 bg-transparent
                        py-2 pr-3 text-right text-neutral-800
                        transition-[border-color] selection:text-neutral-50
                        focus:outline-none disabled:cursor-not-allowed
                        disabled:border-b-transparent
                        [&::-webkit-inner-spin-button]:appearance-none
                        [&::-webkit-outer-spin-button]:appearance-none"
                />
            </div>

            <!-- Total -->
            <div
                id="total"
                class="group flex items-center justify-between border-b
                    border-b-neutral-100 bg-white px-3"
            >
                <pdc-label
                    styled="true"
                    text="<p class='font-semibold'>Total</p>"
                ></pdc-label>

                <input
                    data-pdc="expense-total"
                    type="number"
                    inputmode="decimal"
                    step="0.01"
                    min="0"
                    disabled
                    class="[.success]:border-r-success-400 relative my-3 w-[50%]
                        [appearance:textfield] border-r-3 border-r-transparent
                        bg-transparent py-2 pr-3 text-right text-neutral-800
                        transition-[border-color] disabled:cursor-not-allowed
                        [&::-webkit-inner-spin-button]:appearance-none
                        [&::-webkit-outer-spin-button]:appearance-none"
                />
            </div>
        </div>
    </div>
</div>
