<button
    class="group relative min-w-3xs hover:cursor-pointer sm:min-w-2xs
        md:min-w-xs"
    type="button"
>
    <span
        aria-hidden="true"
        class="border-BORDER_COLOR absolute inset-0 border bg-white"
    ></span>
    <span
        id="button-text"
        class="border-BORDER_COLOR bg-BG_COLOR text-TEXT_COLOR relative z-10
            block border py-3.5 font-medium shadow-xl transition-transform
            duration-100 group-hover:-translate-x-1 group-hover:-translate-y-1"
        >BTN_TEXT</span
    >
</button>
