<div
    id="view-container"
    class="group relative mx-auto max-w-xl overflow-hidden p-3
        [transition:height_0.7s_ease] lg:max-w-7xl print:hidden"
>
    <!-- Heading, rows, error container -->
    <div
        id="locations-container"
        class="relative z-10 overflow-hidden rounded-lg ring-2 ring-neutral-300
            [transition:height_0.7s_eas]"
    >
        <div
            class="border-b-2 border-b-neutral-200 bg-white p-4
                text-neutral-900"
        >
            <h2 id="heading" class="text-xl font-semibold"></h2>
            <p id="body" class="mt-2"></p>
        </div>
        <ul
            id="rows"
            class="z-10 overflow-hidden [transition:height_0.7s_ease]"
        ></ul>
        <!-- Error msg -->
        <div
            id="error"
            class="bg-error-50 text-error-700 border-b-error-400 absolute
                -top-16 z-20 flex h-16 w-full translate-y-0 border-b-3 p-4
                font-medium transition-transform [.active]:translate-y-16"
        ></div>
    </div>

    <!-- Add location button-->
    <div
        class="[.rows-open]:animate-rows-open-addRowBtn
            lg:animate-rows-closed-addRowBtn
            [.rows-closed]:animate-rows-closed-addRowBtn relative z-0 -mt-5
            w-full [transform:translateY(-100%)] text-center opacity-0"
    >
        <button
            tabindex="-1"
            type="button"
            id="add-row"
            title="Add additional location"
            class="focus-visible:bg-primary-50 focus-visible:text-primary-800
                focus-visible:ring-primary-800 hover:ring-primary-800
                hover:text-primary-800 hover:bg-primary-50 translate-y-0
                cursor-pointer rounded-full bg-neutral-50 p-1 text-neutral-300
                ring-2 ring-neutral-300
                transition-[box-shadow_background-color_transform] duration-500
                hover:-translate-y-1 focus:outline-none focus-visible:ring-6"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-8 fill-current transition-colors"
                viewBox="0 0 16 16"
            >
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                />
            </svg>
        </button>
    </div>

    <!-- Input for type of per diem (mie vs lodging vs both)-->
    <fieldset
        id="expense-category"
        class="[.rows-open]:animate-rows-open-expenseCategoryBtn
            [.rows-closed]:animate-rows-closed-expenseCategoryBtn
            lg:animate-rows-closed-expenseCategoryBtn relative mt-8
            [transform:translateY(400%)] space-y-6 text-center print:hidden"
    >
        <div
            class="*:hover:bg-primary-900 *:hover:text-primary-50
                *:has-checked:bg-primary-900 *:has-checked:text-primary-50
                bg-primary-50 text-primary-800 *:focus-visible:ring-primary-800
                divide-primary-800 *:focus-visible:!bg-primary-50
                *:focus-visible:!text-primary-800 border-primary-200 mx-auto
                grid max-w-3xs grid-cols-3 divide-x overflow-hidden rounded-lg
                border-2 text-center text-sm font-medium *:cursor-pointer
                *:p-2.5 *:ring-2 *:ring-transparent
                *:transition-[box-shadow_background-color_color] *:duration-500
                *:select-none *:ring-inset *:focus:outline-none
                *:focus-visible:ring-6 sm:max-w-2xs md:max-w-xs"
        >
            <label tabindex="-1" class="" for="mie">
                <input
                    type="radio"
                    name="expenses-category"
                    value="mie"
                    id="mie"
                    class="hidden"
                />
                M&IE
            </label>
            <label tabindex="-1" class="" for="lodging">
                <input
                    type="radio"
                    name="expenses-category"
                    value="lodging"
                    id="lodging"
                    class="hidden"
                />
                Lodging
            </label>
            <label tabindex="-1" class="" for="both">
                <input
                    type="radio"
                    name="expenses-category"
                    value="both"
                    id="both"
                    class="hidden"
                    checked="true"
                />
                Both
            </label>
        </div>
    </fieldset>

    <!-- Button to trigger Expense view -->
    <div
        class="[.rows-open]:animate-rows-open-expensesCalculateBtn
            [.rows-closed]:animate-rows-closed-expensesCalculateBtn
            lg:animate-rows-closed-expensesCalculateBtn mt-6 mb-8 w-full
            [transform:translateY(200%)] text-center print:hidden"
    >
        <pdc-button
            styled="true"
            id="calculate-expenses"
            text="Calculate Expenses"
            title="Calculate expenses"
        ></pdc-button>
    </div>
</div>
