<li
    data-pdc="location-row"
    class="group [.pdc-row-open]:animate-row-location-open
        [.pdc-row-close]:animate-row-location-close
        [.pdc-row-delete]:animate-row-delete [.pdc-row-add]:animate-row-add
        relative flex h-0 items-start overflow-hidden bg-white ring-2
        ring-transparent transition-shadow duration-500
        [.pdc-row-initial]:h-[var(--row-location-open)]"
>
    <!-- Row sidebar: number, toggle -->
    <div
        data-pdc="location-row-sidebar"
        class="relative z-10 h-[var(--row-location-open)] overflow-hidden px-2"
    >
        <div
            data-pdc="location-row-toggle"
            class="flex h-22 w-full items-center justify-between
                text-neutral-800 *:hover:cursor-pointer
                hover:*:[svg:first-of-type]:rotate-0"
        >
            <button title="Toggle row" tabindex="0" type="button">
                <svg
                    class="size-5 shrink-0 fill-none stroke-current
                        transition-transform duration-500
                        group-[.pdc-row-add]:-rotate-180
                        group-[.pdc-row-initial]:-rotate-180
                        group-[.pdc-row-open]:-rotate-180
                        focus-visible:rotate-0"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                    />
                </svg>
            </button>
            <h3
                data-pdc="location-row-number"
                class="mr-6 ml-1 text-2xl leading-6 font-semibold md:leading-5
                    lg:mr-6 lg:leading-4"
            ></h3>
        </div>
    </div>

    <!-- Row contents: summary, details -->
    <div
        class="relative z-10 flex h-[var(--row-location-open)] w-full
            items-start overflow-hidden"
    >
        <!-- Summary -->
        <div
            data-pdc="location-row-toggle"
            class="ml-1 flex h-22 w-full items-center justify-between"
        >
            <div
                data-pdc="location-row-summary"
                inert
                class="group-[.pdc-row-open]:animate-row-open-summary
                    group-[.pdc-row-close]:animate-row-close-summary
                    group-[.pdc-row-initial]:opacity-y-0 w-[77.5%]
                    overflow-hidden text-sm
                    group-[.pdc-row-add]:translate-y-[-200%]
                    group-[.pdc-row-add]:opacity-0
                    group-[.pdc-row-initial]:translate-y-[-200%]"
            >
                <p data-pdc="location-row-summary-dates" class="truncate">
                    &nbsp;
                </p>
                <p data-pdc="location-row-summary-countrycity" class="truncate">
                    &nbsp;
                </p>
            </div>

            <!-- Delete row button -->
            <button
                type="button"
                data-pdc="delete-row"
                title="Delete location"
                class="hover:text-error-600 focus-visible:text-error-600
                    group-[.pdc-row-open]:animate-row-open-deletebtn
                    group-[.pdc-row-close]:animate-row-close-deletebtn w-[22.5%]
                    px-3 py-3 text-neutral-200 **:transition-colors
                    **:duration-300 **:ease-out
                    group-[.pdc-row-add]:translate-x-[200%]
                    group-[.pdc-row-initial]:translate-x-[200%]
                    hover:cursor-pointer"
            >
                <svg
                    inert
                    class="size-7 fill-current"
                    data-pdc-unstyled="Delete Location"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                    />
                    <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                    />
                </svg>
            </button>
        </div>

        <!-- Details -->
        <div
            data-pdc="location-row-details"
            class="group-[.pdc-row-open]:animate-row-open-details
                group-[.pdc-row-add]:animate-row-open-details
                group-[.pdc-row-close]:animate-row-close-details absolute top-0
                left-[-100%] w-full overflow-hidden border-l-2
                border-l-neutral-200 transition-colors
                group-[.pdc-row-initial]:[transform:translateX(100%)]
                group-[.pdc-row-initial]:opacity-100"
        >
            <pdc-location-date pdc="start" styled="true"></pdc-location-date>
            <pdc-location-date pdc="end" styled="true"></pdc-location-date>
            <pdc-location-category
                pdc="category"
                styled="true"
            ></pdc-location-category>
            <pdc-location-select
                pdc="country"
                styled="true"
            ></pdc-location-select>
            <pdc-location-select pdc="city" styled="true"></pdc-location-select>
        </div>
    </div>
</li>
