@theme {
    --row-expense-open: 441px;
    --row-closed: 96px;
    --row-location-open: 469px;
    --row-location-open-sm: 529px;
    --row-location-open-lg: 218px;
    --row-expense-open-lg: 218px;
}
/* Also update in /src/ts/utils/config/numbers.ts */
