@theme {
    /* First stage */
    /* Row */
    --animate-row-location-open: row-location-open 0.35s 0.45s ease-in forwards;
    --animate-row-location-open-sm: row-location-open-sm 0.35s 0.45s ease-in
        forwards;
    --animate-row-expense-open: row-expense-open 0.35s 0.45s ease-in forwards;

    /* Details, summary, delete */
    --animate-row-open-details: row-open-details 0.35s 0.45s ease-in forwards;
    --animate-row-open-summary: row-open-summary 0.35s 0.45s ease-in forwards;
    --animate-row-open-deletebtn: row-open-deletebtn 0.35s 0.45s ease-in
        forwards;
}
