@theme {
    --animate-rows-closed-addRowBtn: rows-closed-addRowBtn 0.45s ease-out
        forwards;

    --animate-rows-closed-expenseCategoryBtn: rows-closed-expenseCategoryBtn
        0.45s forwards;

    --animate-rows-closed-expensesCalculateBtn: rows-closed-expensesCalculateBtn
        0.45s forwards;

    --animate-rows-open-addRowBtn: rows-open-addRowBtn 0.45s forwards;

    --animate-rows-open-expenseCategoryBtn: rows-open-expenseCategoryBtn 0.35s
        0.45s forwards;

    --animate-rows-open-expensesCalculateBtn: rows-open-expensesCalculateBtn
        0.35s 0.45s forwards;
}
