@theme {
    @keyframes rows-open-addRowBtn {
        0% {
            transform: translateY(0%);
            opacity: 100;
            z-index: 50;
        }
        33% {
            transform: translateY(75%);
            opacity: 100;
            z-index: 0;
        }
        70% {
            opacity: 0;
        }
        100% {
            transform: translateY(-100%);
            z-index: 0;
            opacity: 0;
        }
    }
    @keyframes rows-closed-addRowBtn {
        0% {
            transform: translateY(-100%);
            z-index: 0;
            opacity: 0;
        }
        30% {
            opacity: 100;
        }
        66% {
            transform: translateY(75%);
            z-index: 0;
        }
        100% {
            transform: translateY(0%);
            z-index: 50;
            opacity: 100;
        }
    }
}
