@theme {
    @keyframes row-expense-open {
        0% {
            height: var(--row-close);
        }
        100% {
            height: var(--row-expense-open);
        }
    }
    @keyframes row-expense-close {
        0% {
            height: var(--row-expense-open);
        }
        100% {
            height: var(--row-close);
        }
    }
}
