@theme {
    @keyframes row-location-open {
        0% {
            height: var(--row-close);
        }
        100% {
            height: var(--row-location-open);
        }
    }
    @keyframes row-location-open-sm {
        0% {
            height: var(--row-close);
        }
        100% {
            height: var(--row-location-open-sm);
        }
    }
}
@keyframes row-location-close {
    0% {
        height: var(--row-location-open);
    }
    100% {
        height: var(--row-close);
    }
}
@keyframes row-location-close-sm {
    0% {
        height: var(--row-location-open-sm);
    }
    100% {
        height: var(--row-close);
    }
}
