<div
    id="expense-container"
    class="group relative mx-auto max-w-xl overflow-hidden p-3
        [transition:height_0.7s_ease] lg:max-w-7xl print:hidden"
>
    <!-- Indicator that results are still loading -->
    <div
        data-pdc="loading-spinner"
        class="absolute top-0 left-0 z-0 hidden h-full w-full justify-center
            rounded-lg border-2 border-neutral-200 bg-white p-6 opacity-0
            transition-opacity duration-500 ease-in [.active]:z-50
            [.active]:flex [.active]:opacity-100"
    >
        <div
            class="border-primary-50 border-t-primary-600 h-10 w-10 animate-spin
                rounded-full border-4 border-t-4"
        ></div>
    </div>

    <!-- Heading, toggle rows button, rows -->
    <div
        class="relative z-10 overflow-hidden rounded-lg ring-2 ring-neutral-300
            [transition:height_0.7s_eas]"
    >
        <!-- Heading, toggle -->
        <div
            class="flex justify-between border-b-2 border-b-neutral-200 bg-white
                p-4 text-neutral-900"
        >
            <div>
                <h2 id="heading" class="text-xl font-semibold"></h2>
                <p id="body" class="mt-2"></p>
            </div>
            <button
                type="button"
                title="Toggle all rows"
                id="toggle-expand"
                class="hover:text-primary-900 focus-visible:border-b-primary-800
                    relative ml-3 border-b-4 border-b-transparent px-2
                    text-neutral-600 transition-colors duration-500 *:size-5
                    *:overflow-visible *:fill-current **:origin-center
                    **:transition-all hover:cursor-pointer focus:outline-none
                    lg:hidden [&_.down]:[transform:translateY(15%)]
                    [&_.up]:[transform:translateY(-15%)]
                    [&.active_.down]:[transform:scaleY(-1)_translateY(-70%)]
                    [&.active_.up]:[transform:scaleY(-1)_translateY(70%)]"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    data-pdc-delete="Toggle Expenses"
                    class="fill-current"
                    viewBox="0 0 16 16"
                >
                    <path
                        class="down"
                        fill-rule="evenodd"
                        d="M3.646 14.854a.5.5 0 0 0 .708 0L8 11.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708"
                    />
                    <path
                        fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8"
                    />
                    <path
                        class="up"
                        fill-rule="evenodd"
                        d="M3.646 1.146a.5.5 0 0 1 .708 0L8 4.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708"
                    />
                </svg>
            </button>
        </div>

        <!-- Rows -->
        <div
            id="rows"
            class="overflow-hidden [transition:height_0.7s_ease]"
        ></div>
    </div>

    <!-- Totals -->
    <div id="total-amounts" class="my-8 px-3 text-lg">
        <div class="flex">
            <p class="grow">M&IE</p>
            <p id="mie-subtotal" class="text-right">$0.00</p>
        </div>
        <div class="flex">
            <p class="grow">Lodging</p>
            <p id="lodging-subtotal" class="text-right">$0.00</p>
        </div>
        <div class="flex font-semibold">
            <p class="grow">Total</p>
            <p id="total" class="text-right">$0.00</p>
        </div>
    </div>

    <!-- Button print expenses -->
    <div class="w-full text-center">
        <pdc-button
            styled="true"
            id="save-expenses"
            text="Save Expenses"
            title="Save expenses"
        ></pdc-button>
    </div>
</div>

<!-- Print section-->
<div class="hidden w-full print:block">
    <!-- Print heading, body-->
    <h2 id="heading-print" class="mt-2.5 text-xl font-semibold"></h2>
    <p id="body-print" class="text-sm"></p>

    <!-- Print rates table, sources -->
    <div class="mt-8 w-full">
        <h2 class="mb-2.5 text-xl font-semibold">Rates</h2>
        <table
            class="w-full table-auto **:text-center **:align-middle **:text-xs"
        >
            <thead>
                <tr class="border-t-2 border-b-2 *:px-2 *:font-semibold">
                    <th class="w-[12.5%] border-r-2" rowspan="2">
                        Eff.<br />Date
                    </th>
                    <th class="w-[22%] border-r-2" rowspan="2">Location</th>
                    <th class="border-r-2 py-1.5" colspan="4">Maximums</th>
                    <th colspan="3">Deductions</th>
                </tr>
                <tr class="*:font-base border-b-3 *:px-2">
                    <th>Lodging</th>
                    <th class="py-1.5">
                        M&IE<br /><span class="font-normal">(Full)</span>
                    </th>
                    <th>
                        M&IE<br /><span class="font-normal">(First/Last)</span>
                    </th>
                    <th class="border-r-2">Incid.</th>
                    <th>Break.</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
            </thead>
            <tbody id="rates-table"></tbody>
        </table>
        <!-- Sources -->
        <div
            class="**:pb-2.5 **:text-xs [&>a]:ml-5 [&>a]:list-item [&>a]:pl-2.5"
            id="sources"
        >
            <p class="pt-2.5">Source:</p>
        </div>
    </div>

    <!-- Print expenses table -->
    <div class="mt-8 w-full">
        <h2 class="mb-2.5 text-xl font-semibold">Expenses</h2>

        <table class="w-full table-fixed **:align-middle **:text-xs">
            <thead>
                <tr class="border-t-2 border-b-3 *:p-3 *:font-semibold">
                    <th class="w-[12.5%] text-center" rowspan="2">Date</th>
                    <th class="w-[40%] text-left" rowspan="2">
                        Location
                        <br />
                        <span class="font-normal">Deductions</span>
                    </th>
                    <th class="text-right">M&IE</th>
                    <th class="text-right">Lodging</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody
                class="**:align-middle [&_td]:p-3 [&_tr]:border-b-2"
                id="expenses-table"
            ></tbody>
        </table>
    </div>
</div>
