<!-- LAST On firefox mobile, expenses table doesn't have bottom border for date and location header-->
<!-- TODO2 event listeners for keydown for accessiblity in Expense View -->
<!-- TODO refactor to a more table UI? -->

<div
    id="expense-container"
    class="group/container relative mx-auto mb-12 max-w-4xl rounded-md
        bg-neutral-100 p-6 pt-0 shadow-md print:hidden"
>
    <!-- Indicator that results are still loading -->
    <div
        data-pdc="loading-spinner"
        class="flex min-h-20 w-full items-center justify-center opacity-100
            transition-opacity duration-500 ease-in
            group-[.active]/container:hidden
            group-[.active]/container:opacity-0"
    >
        <div
            class="border-primary-50 border-t-primary-600 h-10 w-10 animate-spin
                rounded-full border-4 border-t-4"
        ></div>
    </div>

    <!-- Heading, toggle rows button -->
    <div
        class="hidden items-center justify-between
            group-[.active]/container:flex"
    >
        <h3 id="heading" class="text-xl font-semibold text-neutral-900"></h3>
        <button
            type="button"
            id="toggle-expand"
            class="group/toggle hover:text-primary-900 relative ml-3 py-8 pl-3
                text-neutral-600 duration-500 *:size-5 *:overflow-visible
                *:fill-current **:origin-center **:transition-all
                hover:cursor-pointer [&_.down]:[transform:translateY(15%)]
                [&_.up]:[transform:translateY(-15%)]
                [&.active_.down]:[transform:scaleY(-1)_translateY(-70%)]
                [&.active_.up]:[transform:scaleY(-1)_translateY(70%)]"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                data-pdc-delete="Toggle Expenses"
                class="size-18 fill-current"
                viewBox="0 0 16 16"
            >
                <path
                    class="down"
                    fill-rule="evenodd"
                    d="M3.646 14.854a.5.5 0 0 0 .708 0L8 11.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708"
                />
                <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8"
                />
                <path
                    class="up"
                    fill-rule="evenodd"
                    d="M3.646 1.146a.5.5 0 0 1 .708 0L8 4.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708"
                />
            </svg>
        </button>
    </div>
    <p id="body" class="peer mb-4 hidden group-[.active]/container:block"></p>

    <!-- Rows -->
    <div
        id="rows"
        class="hidden not-peer-[*]:mt-2 group-[.active]/container:block"
    ></div>

    <!-- Totals -->
    <div
        id="total-amounts"
        class="my-8 hidden text-lg group-[.active]/container:block"
    >
        <div class="flex">
            <p class="grow">M&IE</p>
            <p id="mie-subtotal" class="text-right">$0.00</p>
        </div>
        <div class="flex">
            <p class="grow">Lodging</p>
            <p id="lodging-subtotal" class="text-right">$0.00</p>
        </div>
        <div class="flex font-semibold">
            <p class="grow">Total</p>
            <p id="total" class="text-right">$0.00</p>
        </div>
    </div>

    <!-- Button print expenses -->
    <div class="-mb-14 w-full text-center">
        <pdc-button-text
            id="print-expenses"
            styled="true"
            bg-color="primary-900"
            border-color="primary-900"
            text="Print Expenses"
            text-color="neutral-50"
        ></pdc-button-text>
    </div>
</div>

<!-- Print section-->
<div class="hidden w-full print:block">
    <!-- Print heading, body-->
    <h3 id="heading-print" class="mt-2.5 text-xl font-semibold"></h3>
    <p id="body-print" class="text-sm"></p>

    <!-- Print rates table, sources -->
    <div class="mt-8 w-full">
        <h3 class="mb-2.5 text-xl font-semibold">Rates</h3>
        <table
            class="w-full table-fixed **:text-center **:align-middle **:text-xs"
        >
            <thead>
                <tr class="border-t-2 border-b-2 *:font-semibold">
                    <th class="w-[12.5%] border-r-2" rowspan="2">
                        Eff.<br />Date
                    </th>
                    <th class="w-[22%] border-r-2" rowspan="2">Location</th>
                    <th class="w-[41.5%] border-r-2 py-1.5" colspan="4">
                        Rates
                    </th>
                    <th class="w-[24%]" colspan="3">Deductions</th>
                </tr>
                <tr class="*:font-base border-b-3">
                    <th>Lodging</th>
                    <th class="py-1.5">
                        M&IE<br /><span class="font-normal">(Standard)</span>
                    </th>
                    <th>
                        M&IE<br /><span class="font-normal">(First/Last)</span>
                    </th>
                    <th class="border-r-2">Incid.</th>
                    <th>Break.</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
            </thead>
            <tbody id="rates-table"></tbody>
        </table>
        <!-- Sources -->
        <div
            class="**:pb-2.5 **:text-xs [&>a]:ml-5 [&>a]:list-item [&>a]:pl-2.5"
            id="sources"
        >
            <p class="pt-2.5">Source:</p>
        </div>
    </div>

    <!-- Print expenses table -->
    <div class="mt-8 w-full">
        <h3 class="mb-2.5 text-xl font-semibold">Expenses</h3>

        <table class="w-full table-fixed **:align-middle **:text-xs">
            <thead>
                <tr class="border-t-2 border-b-3 *:p-3 *:font-semibold">
                    <th class="w-[12.5%] text-center" rowspan="2">Date</th>
                    <th class="w-[40%] text-left" rowspan="2">
                        Location / Deductions
                    </th>
                    <th class="text-right">M&IE</th>
                    <th class="text-right">Lodging</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody
                class="**:align-middle [&_td]:p-3 [&_tr]:border-b-2"
                id="expenses-table"
            ></tbody>
        </table>
    </div>
</div>
