<div
    data-pdc="expense-container"
    class="group relative mx-auto mb-12 grid max-w-4xl grid-cols-1 gap-4
        rounded-md bg-neutral-100 p-6 shadow-md print:gap-0 print:p-0
        print:shadow-none **:print:bg-white **:print:text-black"
>
    <!-- Indicator that results are still loading -->
    <div
        data-pdc="loading-spinner"
        class="flex min-h-20 w-full items-center justify-center opacity-100
            transition-opacity duration-500 ease-in group-[.active]:hidden
            group-[.active]:opacity-0"
    >
        <div
            class="border-primary-50 border-t-primary-600 h-10 w-10 animate-spin
                rounded-full border-4 border-t-4"
        ></div>
    </div>

    <div
        class="my-2.5 hidden justify-between group-[.active]:flex print:!block"
    >
        <h3 id="heading" class="text-xl font-semibold text-neutral-900"></h3>
        <button
            type="button"
            id="toggle-expand"
            class="group/btn relative ml-3 text-neutral-600 duration-500
                *:size-5 *:overflow-visible *:fill-current **:origin-center
                **:transition-all hover:cursor-pointer print:hidden
                [&_.down]:[transform:translateY(15%)]
                [&_.up]:[transform:translateY(-15%)]
                [&.active_.down]:[transform:scaleY(-1)_translateY(-70%)]
                [&.active_.up]:[transform:scaleY(-1)_translateY(70%)]"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                data-pdc-delete="Toggle Expenses"
                class="size-6 fill-current"
                viewBox="0 0 16 16"
            >
                <path
                    class="down"
                    fill-rule="evenodd"
                    d="M3.646 14.854a.5.5 0 0 0 .708 0L8 11.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708"
                />
                <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8"
                />
                <path
                    class="up"
                    fill-rule="evenodd"
                    d="M3.646 1.146a.5.5 0 0 1 .708 0L8 4.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708"
                />
            </svg>
        </button>
    </div>

    <p id="body" class="hidden group-[.active]:block print:!hidden"></p>

    <p id="body-print" class="mb-3 hidden text-sm print:block"></p>

    <table
        class="hidden w-full max-w-max table-fixed **:text-center
            **:align-middle **:text-xs print:block"
    >
        <thead>
            <tr class="border-t-2 border-b-2 *:font-semibold">
                <th class="w-[12.5%] border-r-2" rowspan="2">Eff.<br />Date</th>
                <th class="w-[22.5%] border-r-2" rowspan="2">City</th>
                <th class="w-[42.5%] border-r-2" colspan="4">Rates</th>
                <th class="w-[22.5%]" colspan="3">Deductions</th>
            </tr>
            <tr class="*:font-base border-b-3">
                <th>Lodging</th>
                <th>M&IE<br />(Standard)</th>
                <th>M&IE<br />(First/Last)</th>
                <th class="border-r-2">Incid.</th>
                <th>Break.</th>
                <th>Lunch</th>
                <th>Dinner</th>
            </tr>
        </thead>
        <tbody id="rates"></tbody>
    </table>

    <div
        class="mb-3 hidden pb-3 **:py-2.5 **:text-xs print:block
            print:border-b-3 print:border-b-black [&>a]:ml-5 [&>a]:list-item
            [&>a]:pl-2.5"
        id="sources"
    >
        <p>Source:</p>
    </div>

    <div
        id="rows"
        class="hidden group-[.active]:block print:!contents print:divide-y-2"
    ></div>

    <div
        id="total-amounts"
        class="my-5 hidden text-lg group-[.active]:block print:p-0"
    >
        <div class="flex print:border-t-2 print:border-t-black">
            <p class="grow">M&IE</p>
            <p id="mie-subtotal" class="text-right">$0.00</p>
        </div>
        <div class="flex print:border-t-2 print:border-t-black">
            <p class="grow">Lodging</p>
            <p id="lodging-subtotal" class="text-right">$0.00</p>
        </div>
        <div
            class="flex font-semibold print:border-t-2 print:border-b-2
                print:border-t-black"
        >
            <p class="grow">Total</p>
            <p id="total" class="text-right">$0.00</p>
        </div>
    </div>

    <button
        class="group/btn relative -mb-14 hidden group-[.active]:block
            hover:cursor-pointer focus:outline-hidden print:!hidden"
        type="button"
        id="print-expenses"
    >
        <span
            aria-hidden="true"
            class="border-primary-900 absolute inset-0 z-0 mx-auto w-9/12 border
                bg-neutral-50 py-3.5"
        ></span>
        <span
            class="border-primary-900 bg-primary-900 relative z-10 mx-auto block
                w-9/12 border py-4 text-neutral-50 transition-transform
                group-hover/btn:-translate-x-1 group-hover/btn:-translate-y-1"
            >Print Expenses</span
        >
    </button>
</div>
