@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400,500,600|ibm-plex-sans:400,700);
@import 'tailwindcss';
@theme {
    --font-plex: 'IBM Plex Sans';
    --font-mono: 'IBM Plex Mono';

    --color-primary-900: hsl(245, 100%, 27%);
    --color-primary-800: hsl(245, 86%, 40%);
    --color-primary-700: hsl(245, 79%, 52%);
    --color-primary-600: hsl(245, 92%, 60%);
    --color-primary-500: hsl(243, 94%, 66%);
    --color-primary-400: hsl(243, 94%, 70%);
    --color-primary-300: hsl(240, 95%, 76%);
    --color-primary-200: hsl(238, 94%, 81%);
    --color-primary-100: hsl(238, 100%, 88%);
    --color-primary-50: hsl(240, 100%, 95%);

    --color-success-900: hsl(170, 97%, 15%);
    --color-success-800: hsl(168, 80%, 23%);
    --color-success-700: hsl(166, 72%, 28%);
    --color-success-600: hsl(164, 71%, 34%);
    --color-success-500: hsl(162, 63%, 41%);
    --color-success-400: hsl(160, 51%, 49%);
    --color-success-300: hsl(158, 58%, 62%);
    --color-success-200: hsl(156, 73%, 74%);
    --color-success-100: hsl(154, 75%, 87%);
    --color-success-50: hsl(152, 68%, 96%);

    --color-neutral-900: hsl(209, 61%, 16%);
    --color-neutral-800: hsl(211, 39%, 23%);
    --color-neutral-700: hsl(209, 34%, 30%);
    --color-neutral-600: hsl(209, 28%, 39%);
    --color-neutral-500: hsl(210, 22%, 49%);
    --color-neutral-400: hsl(209, 23%, 60%);
    --color-neutral-300: hsl(211, 27%, 70%);
    --color-neutral-200: hsl(210, 31%, 80%);
    --color-neutral-100: hsl(212, 33%, 89%);
    --color-neutral-50: hsl(210, 36%, 96%);

    --color-error-900: hsl(348, 94%, 20%);
    --color-error-800: hsl(350, 94%, 28%);
    --color-error-700: hsl(352, 90%, 35%);
    --color-error-600: hsl(354, 85%, 44%);
    --color-error-500: hsl(356, 75%, 53%);
    --color-error-400: hsl(360, 83%, 62%);
    --color-error-300: hsl(360, 91%, 69%);
    --color-error-200: hsl(360, 100%, 80%);
    --color-error-100: hsl(360, 100%, 87%);
    --color-error-50: hsl(360, 100%, 95%);
}

html {
    scroll-behavior: smooth;
}
