<div
    class="group flex items-center justify-between border-b border-b-neutral-100
        px-3"
>
    <pdc-label styled="true"></pdc-label>
    <select hidden></select>
    <button
        tabindex="0"
        type="button"
        id=""
        class="group-[.active]:focus-visible:border-primary-800 absolute
            right-[24px] rounded-full border-3 border-transparent p-1
            transition-colors focus:outline-none
            group-[.active]:focus-visible:[&_svg]:-rotate-180"
    >
        <svg
            class="group-[.active]:group-hover:stroke-primary-800
                group-[.active]:group-focus-visible:stroke-primary-800 size-4
                shrink-0 rotate-0 fill-none stroke-neutral-400
                transition-[transform_stroke] duration-500
                group-[.active]:group-hover:-rotate-180 sm:size-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
            />
        </svg>
    </button>
    <!-- Loading indicator-->
    <div
        id="loading-spinner"
        class="absolute z-0 flex w-full items-center justify-center bg-inherit
            opacity-0 transition-opacity duration-700 [.active]:z-50
            [.active]:opacity-100"
    >
        <div
            class="border-t-primary-600 border-primary-50 h-10 w-10 animate-spin
                rounded-full border-4 border-t-4"
        ></div>
    </div>
</div>
